{% extends "base.html.jinja" %}

{% block links %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block main %}
    <main class="main_hello">
        <div class="hello">
            <span>Welcome to Snippets Frontend!</span>
            <span>Select the snippet category you are interested in from above!</span>
        </div>
    </main>
{% endblock %}
