{% extends "base.html.jinja" %}

{% block links %}
    <link rel="stylesheet" href="../static/css/snippet.css">
    <link rel="stylesheet" href="static/{{ title_snippet }}.css">
{% endblock %}

{% block main %}
    <main class="main">
        <div class="cols">
            <div class="col_demo demo">
                {{ html }}
            </div>

            <div class="col_code code">
                <div class="code-block">
                    <h4 class="code-block__title">HTML</h4>
                    <pre><code class="language-html code-block__code">{{ code_html }}</code></pre>
                </div>
                
                <div class="code-block">
                    <h4 class="code-block__title">CSS</h4>
                    <pre><code class="language-css code-block__code">{{ code_css }}</code></pre>
                </div>

                <div class="code-block">
                    <h4 class="code-block__title">JS</h4>
                    <pre><code class="language-js code-block__code">{{ code_js }}</code></pre>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="static/{{ title_snippet }}.js"></script>
{% endblock %}
